@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@700&display=swap');

body {
  background-image: url('./assets/food.jpeg');
  background-size: cover;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

.rating{
  display: inline;
}

.count {
  margin-left: 6rem;
}